:root {
    --button-group-border: #3534343a;
    --regular-button-text: #000000;
    --regular-button-hover-bg: #0000000d;
    --selected-button-text: #f0f5f2;
    --selection-bg: #3e5b4d;
    --text: #03100e;
    --background: #e1eae6;
    --primary: #344c40;
    --secondary: #c991ea;
    --accent: #df53ca;
    --button-group-bg: #ffffff;
}

@font-face {
    font-family: "Pacifico";
    src: url("/static/Pacifico-Regular.ttf");
}
.Dotei {
    font-family: "Pacifico";
}
body {
    /* font-family: "Pacifico"; */
    background-color: var(--background);
}
.bg-root {
    background-color: var(--background);
}


