<div class="flex">

    <div class="flex button-group center mw8" id="button-container">

        <span class="button-selection"></span>

        <!-- NEW DOCUMENT BUTTON -->
        <button id="newDocBtn" class="regular_button">
            New Document
        </button>

    </div>

    
    <div class="flex">

        <div>
            <input type="checkbox" id="checkboxLivePreview" checked />

            <label for="checkboxLivePreview" class="switchButton">
                Live Preview
            </label>
        </div>


        <div>
            <button id="compile" class="regular_button dn hidden">
                Compile
            </button>
        </div>


        <div>
            <button id="Download" class="regular_button">
                <span class="material-symbols-outlined">
                    download
                </span>
            </button>
        </div>

    </div>

</div>
